<h1>开发团队</h1>
<div class="contact">
  <div class="row">
    <div class="form-contact box">
      <table class="contact-table">
        <tr>
          <th><p>组长：</p></th>
          <td><p><strong>时文康</strong></p></td>
          <td><p><strong>中国科学院沈阳计算技术研究所</strong></p></td>
          <td><p><a href="tencent://message/?uin=1466921340ow&Menu=yes">立即联系</a></p></td>
        </tr>
        <tr>
          <th><p>组员：</p></th>
          <td><p><strong>龙宛青</strong></p></td>
          <td><p><strong>中国科学院沈阳计算研究所</strong></p></td>
          <td><p><a href="tencent://message/?uin=2911662040ow&Menu=yes">立即联系</a></p></td>
        </tr>





      </table>
    </div>
  </div>
</div>