<div class="center jumbotron">
  <h1>果壳交友网</h1>
  <h2>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </h2>
  <%= link_to "立即注册", signup_path, class: "btn btn-lg btn-primary" %>

  <%= link_to "进入论坛", microposts_path, class: "btn btn-lg btn-primary" %>
</div>

<!-- 中国科学院院徽log -->
        <logo><%= link_to image_tag("logo.png", alt: "Rails logo") %></logo>



